body{
    font-family: "Verdada", sans-serif;
    background-image: linear-gradient(0deg, #ff0000 20% , #000000 90%);
    background-attachment: fixed;
    background-position: center;
    color: #FFFFFF;
}
a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}
#container{
  margin: 0px 10% 0px 10%;
}
.cabecalho{
  background-color: rgba(0, 0, 0, 0.5);
  filter: opacity(0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}
li{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  opacity: 0.6;
  transition-duration: 0.5s;
  text-decoration: none;
  display: inline;
  padding: 0px 5px 0px 5px;
}

li:hover {opacity: 1;}

figure{

    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 5px 5px 150px 5px;
    position: relative;
}
figcaption{

  position: absolute;

}
.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  filter: opacity(0.5);
  font-size: 30px;
}
