body{
  font-family: verdana;
  background-image: linear-gradient(0deg, #ff0000 20% ,#000000 90%);
  background-attachment: fixed;
  color: #FFFFFF
}

a{
  text-decoration:none;
  color: #1B96BD;
  font-weight: 500;
}

#container{
  margin: 0 10% 0 10%;
}
.cabeçalho{
  background-color: rgba(0,0,0, 0.2); opacity:(0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

li{
  list-style: none;
  padding: 0 5px 0 5px;
  display: inline;
}
figure{
  display: inline-block;
  border: 2px solid black;
  box-shadow:2px 2px 5px black;
  padding: 5px 5px 150px 5px;
  position: relative;
}
figcaption{
  position: absolute;
}
.rodapé{
  padding: 50px;
  background-color: black; opacity: 0.5;
  font-size: 30px;

}

li>a:hover{
  transition-duration: 0.5s;
  color: red;
}

.nome{
  font-weight: 600;
}
