body{
    font-family: "Verdana", sans-serif;
    background-image: linear-gradient(0deg, #ff0000 20%, #000000 90%);
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #1B96BD;
    font-weight: 500;
    background-color: none;
    transition: background-color 2s;
    border-radius: 5px;
}

a:hover{
    background-color:#6889e9;
}

#container{
    margin: 0px 10% 0px 10%;
}

.cabeçalho{
    background-color: rgba(0, 0, 0, 0.5);
    filter: opacity(0.5);
    padding: 40px;
    font-size: 40px;
    position: relative;

}

li{
    text-decoration: none;
    display: inline;
    padding: 0px 5px 0px 5px ;

}

figure{
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 5px 5px 150px 5px ;
    position: relative;
}

figcaption{
    position: absolute;
    font-weight: 600;
}

.rodapé{
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    filter: opacity(0.5);
    font-size: 30px;
}
