
/*
  Parabéns ficou show!
  Em relação ao plus é isso mesmo.
  O negócio é ir além.
  O seu código é bastante limpo, deu pra entender tudo,
  não tive dificuldades pra ler.

  Um ponto de atenção:
  Foi solicitado a realização de transição em um elemento
  e este não foi cumprido. Sempre cumpra o solicitado. Sempre peque por
  exagero nunca por falta.

  Está no caminho certo.

*/

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient( #ff0000 20% , #000000 90%);
  background-attachment: fixed;
  color: white;
}

#container{
  margin-top: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0px;
}

.cabecalho{
  width: 550px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 700px;
}

.cabecalho ul li a{
  border-radius: 20px;
  padding: 7px;
  font-size: 24px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}

.cabecalho ul li a:hover{
  background-color:rgba(0, 0, 0, 0.7);
}

td{
  padding-left: 40px;
  padding-top: 5px;
  text-align: justify;
}

.legenda{
  margin-top: 0px;
  width: auto;
}

tr{
  text-align: justify;
}

li{
  list-style-type: none;
  display: inline;
  padding: 0px 5px 0px 5px;
}

a{
  text-decoration: none;
  color: black;
}

section ul li{
  color: black;
  padding-left: 40px;
}

img{
  box-shadow: 5px 5px 5px 5px black;
  border: 2px solid black;
}

#div-rodape{
  padding-top: 60px;
}

footer#rodape{
  clear: both;/*LIMPA A CONFIGURAÇÃO DOS DOIS LADOS*/
  border-top: 1px solid rgb(230, 177, 81);
}

footer#rodape p{
  color: white;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}
