


body{
    font-family: Verdana, sans-serif;
    background: linear-gradient(0deg,#ff0000 20%, #000000 90%) fixed;
    color: #FFF;
}

a{
    text-decoration: none;
    color: #1B96BD;
    font-weight: 500;
}

#container{
    margin: 0 10% 0 10%;
}

.cabecalho{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    font-size: 40px;
    position: relative;
}


.figImage{
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px #000000;
    padding: 5px 5px 150px 5px;
    position: relative;
}
.figImage figcaption{
    position: absolute;
    font-weight: 600;
}


.rodape{
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
}

#menuUl{
    list-style: none;
    padding: 0 5px 0 5px;
}

#menuUl li{
    display: inline;
}
#menuUl li:hover{
    transition: 0.5s;
    color: #1B96BD;
    background-color: rgba(255, 0, 0, 0.5);
}