body{
    font-family: "Verdada", sans-serif;
    background-image: linear-gradient(0deg, #ff0000 20% , #000000 90%);
    background-attachment: fixed;
    color: #FFFFFF;
}

li a{
  transition: 2s;
}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

#container{
  margin: 0px 10% 0px 10%;
}

.cabecalho{
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0.5;
  padding: 40px;
  font-size: 40px;
  position: relative;
}

li{
  list-style: none;
  display: inline;
  padding: 0px 5px 0px 5px
}

figure{
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    padding: 5px 5px 150px 5px;
    position: relative;
}

figcaption{
  position: absolute;
}

.rodape{
  padding: 50px;
  opacity: 0.5;
  font-size: 30px;
}

p{


}
