body {
    font-family: "Verdana", sans-serif;
    background-color: #f00;
    background:linear-gradient(0deg, #ff0000 20%, #000000 90%) fixed;
    color: #ffffff
}

a {
    background-color: none;
    text-decoration: none;
    color: #1B96BD;
    font-weight: 500;
    transition: background-color 0.25s, 2s;

}

#container {
    margin: 0 10%;
}

.cabecalho {
    background: rgba(0,0,0, 0.2);
    padding: 40px;
    font-size: 40px;
    position: relative;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    padding: 0 5px;
}

li a:hover {
    background-color: #1B96BD;
    color: #ffffff;
}

figure {
    display: inline-block;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
    padding: 5px 5px 150px 5px;
    position: relative;

}

figcaption {
    position: absolute;
}

.rodape {
    padding: 50px;
    background: rgba(0,0,0, 0.5);
    filter: opacity(0.5);
    font-size: 30px;
}

figcaption span {
    font-weight: 600;
}