body{
  font-family: "verdana",sans-serif;
  background-image: linear-gradient(0deg, #ff0000 20% , #000000 90%);
  background-attachment: fixed;
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

#container{
  margin: 0 10% 0 10%;
}

.cabeçalho{
  background-color: rgba(0,0,0, 0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.cabeçalho li{
  list-style: none;
  display: inline;
  padding: 0 5px 0 5px;
}

figure{
  display: inline-block;
  border: 2px solid #000000;
  box-shadow: 2px 2px 5px black;
  position: relative;
  padding: 5px 5px 150px 5px;
}

figcaption{
  position: absolute;
}

.rodape{
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}

li a:hover{
  color: #ffffff;
  background-color: #000000;
  transition: 1s;
}
