body{
  font-family: Verdana,sans-serif;
  background-image: linear-gradient(0deg , #ff0000 20% , #000000 90%);
  background-attachment: fixed;
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

#container{
  margin: 0 , 10%, 0, 10%;
}

.cabecalho{
  background-color: rgb(0,0,0);
  filter: opacity(0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;

}
