body{
  font-family: Verdana,sans-serif;
  background-image: linear-gradient(0deg , #ff0000 20% , #000000 90%);
  background-attachment: fixed;
  color: #ffffff;
}

a{
  text-decoration: none;
  color: #1B96BD;
  font-weight: 500;
}

#container{
  margin: 0 , 10%, 0, 10%;
}

.cabecalho{
  background-color: rgb(0,0,0);
  filter: opacity(0.5);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

ul li{
  list-style: none;
  display:inline-block;
  padding: 0, 5px, 0, 5px;
}

figure{
  display: inline-block;
  border:2px solid #000000;
  box-shadow: 2px 2px 5px #000000;

  padding: 5px 5px 150px 5px;
  position: relative;
}

figcaption{
  position: absolute;
}
