body {
  font-family: Verdana, sans-serif;
  background-color: #f00;
  background: linear-gradient(0deg, #f00 20%, #000 90%) fixed;
  color: #fff;
}

/*CORRIGIDO*/
a {
  text-decoration: none;
  color: #1b96bd;
  font-weight: 500;
  transition: background-color 0.45s, color 0.45s;
}

#container {
  margin: 0 10%;
}

.cabecalho {
  background: rgba(0, 0, 0, 0.2);
  padding: 40px;
  font-size: 40px;
  position: relative;
}

.cabecalho ul {
  list-style: none;
}

.cabecalho ul li {
  display: inline;
  padding: 0 5px;
}

/*CORRIGIDO*/
li a:hover {
  background-color: #1b96bd;
  color: #fff;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px #000;
  padding: 5px 5px 150px 5px;
  position: relative;
}

figure figcaption {
  position: absolute;
}

figcaption span {
  font-weight: 600;
}

.rodape {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}
